*{
    margin: 0; /* Remove default margins */
    box-sizing: border-box;
}

#page-wrapper{
    width: 80vw; /* 80% of the hardware display */
    background-color: #F5F3FF;
    margin: 0 auto;
}

#container{
    width: 100%; /* 100% of the parent */
    display: flex;
    flex-direction: row;
}

nav{
    width: 30%; /* 30% of the container width */
    background-color: #4A2B8C;
}

nav ul{
    padding-left: 0; /* Removes left indentation */
    list-style: none; /* Removes bullets */
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertical alignment */
}

nav li{
    width: 80%;
    padding: 1%;
    margin: 12% auto;
    text-align: center;
}

nav a{
    background-color: #F5F3FF;
    color: #4A2B8C;
    text-decoration: none;
    font-size: calc(2px + 2.3vw);
    padding: 2% 2%;
    border-radius: 5%;
}

main{
    min-height: 120vh; /* Minimum height of 120% of the hardware display */
    height: auto; /* If there is overflow then we expand the height */
    width: 70%; /* 70% of the container width */
    background-color: #F5F3FF;
    color: #2D2A42;
}

#main{
    padding: 1% 2%;
}

#bio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 5% 0;
}

h2, h3, h4, .content-container a {
    color: #4A2B8C;
}

#main h3{
    text-align: center;
    margin: 2% 0;
    font-size: calc(2px + 2vw);
}

main img{
    max-width: 40%;
}

#bio p, #intro{
    font-size: calc(2px + 2vw); /* Make font size responsive */
    padding: 2%; /* Add some padding for spacing between bio and img */
}

header, footer{
    padding: 1%; /* Add some size to the header and footer boxes */
    color: #FFF9F9; /* Set the text color to white */
}

header {
    background-color: #4A2B8C; /* Deep Plum header background */
}

footer{
    background-color: #2D2A42; /* Dark Charcoal Purple footer background */
}

#credits, a{
    text-decoration: none; /* Get rid of the underline for the credits link */
    color: #FFF9F9; /* Set the color to white */
}

.content-container{
    margin: 3% 5% 3% 3%; /* Add responsive spacing to each listed project, experience, etc */
    padding: 2% 2%; /* Add some responsive padding so the boxes aren't so squished */
    background-color: #FFFFFF; /* White content containers */
    border-left: 0.25vw solid #9D7BD8; /* Accent border */
    border-radius: 0 1vw 1vw 0; /* Curve the edges on both corners on the right */
    color: #2D2A42; /* Set the text color to Dark Charcoal Purple */
}

#calc-container{
    text-align: center; /* Center operation buttons, labels, and output */
}

#calc-container h2 {
    font-size: 3vw; /* Make the calculator title responsive */
}

input, label{
    display: block; /* Make input tags into block type */
    margin: auto; /* Center block type input */
    border-radius: 2vw; /* Give the input boxes round border */
    font-size: 1.5vw; /* Make the font size responsive */
    text-align: center; /* Align the inputted numbers to the center */
}

button{
    background-color: #FFD166; /* Make operations buttons yellow */
    color: #2D2A42; /* Make the color of the operations to dark purple */
    border: none; /* Remove the border of the buttons */
    border-radius: 2vw; /* Make the buttons round */
    padding: 1%; /* Add some responsive padding to make bigger buttons */
    margin: 1% auto; /* Add some responsive margin to create spacing */
    font-size: calc(2px + 1.5vw); /* Make the font size responsive */
    font-weight: bold; /* Make the operations bold */
}

#output{
    background-color: #2B2D42; /* Create a distinctive box for the output */
    padding: 4.5%; /* Add some padding to make it bigger */
    margin: auto; /* Center the output box */
    max-width: 50%; /* Restrict the max width of the box to 50% */
    border-radius: 1.5vw; /* Curve all the corners */
    font-size: calc(2px + 2vw); /* Make the font size responsive */
}

@media screen and (max-width: 1000px){
    header{
        text-align: center;
    }

    #container{
        flex-direction: column;
    }

    nav{
        width: 100%;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    nav li{
        margin: 2% 1%;
    }

    nav a{
        font-size: calc(2px + 2.3vw);
    }

    main{
        width: 100%;
    }

    #bio{
        flex-direction: column;
    }

    .content-container{
        align-items: center;
        margin-top: 6%;
    }
}

@media screen and (max-width: 750px){
    nav li{
        width: 60%;
        margin-left: 0;
        margin-right: 0;
    }

    nav a{
        font-size: calc(2px + 2.5vw);
    }
}

